<div class="card rounded-3 mb-4">
    <div class="thumbnail-image product-image">
       <a href="{{ product_item.url }}">
            {% if product_item.featured_image %}
                <img src=" {{ product_item.featured_image | img_url: '1920x' }}" class="card-img-top" alt=" {{ product_item.featured_image.alt }}">
            {% else %}
                {{ "product-2" | placeholder_svg_tag: "w-100 h-100" }}
            {% endif %}
       </a>
    </div>
   
    <div class="card-body">
        {% if product_item.title %}
            {% if section.settings.product_vendor %}
                <span> {{ product_item.vendor }}</span>
            {% endif %}
            <h5 class="card-title"> 
                <a href="{{ product_item.url }}">{{ product_item.title }}</a>
            </h5>
        {% endif %}
   
       
        {% if product_item.price %}
            <span class="mb-2 d-block"><b>{{ product_item.price | money }}</b></span>
        {% endif %}
       
        {% assign productInCart = false %}
        {% for item in cart.items %}
            {% if item.product.id == product_item.id %}
                {% assign productInCart = true %}
            {% endif %}
        {% endfor %}
        
        {% if productInCart == false %}
            {% if product_item.has_only_default_variant %}
                <form id="form-{{ product_item.handle }}" method="post" action="/cart/add">
                    <input type="hidden" name="id" value="{{ product_item.variants.first.id }}">
                    <button type="submit" class="btn add-to-cart-button" data-form-id="form-{{ product_item.handle }}">Add to cart</button>
                </form>
            {% else %}
                <a href="{{ product_item.url }}" class="btn">Select Options</a>
            {% endif %}
        {% else %}
            <a href="{{ routes.cart_url }}" class="btn">View Cart</a>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const viewCartButton = document.querySelector(`a[href="{{routes.cart_url}}"]`);
                    viewCartButton.innerText = 'View Cart';
                });
            </script>
        {% endif %}
        
    </div>
</div>
