
<div class="top-mobile-info py-2 d-lg-none">
    <div class="container">
        <div class="d-flex align-items-center justify-content-end">
            <button class="me-3 border-0 bg-transparent p-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </button>
            <a href="{{ routes.cart_url }}" class="me-3" style="line-height: 0;">{% render 'shopping-icon' %}</a>
            {% if shop.customer_accounts_enabled %}
                {% if customer %}
                    <a href="{{ routes.account_url }}" type="button" class="me-3">My Account</a>
                    <a href="{{ routes.account_login_url }}">{{ "Logout" | customer_logout_link }}</a>
                {%- else -%}
                    {{ "Login" | customer_login_link | replace: '<a', '<a class="me-3"'  }}
                    {% comment %} <a href="/login" type="button" class="me-3">Login</a> {% endcomment %}
                    {{ "Register" | customer_register_link | replace: '<a', '<a'  }}
                {% endif %}
                
            {% endif %}
            
        </div>
    </div>
</div>


<header class="bg-white navbar">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between py-0 w-100">
            <a href="{{ routes.root_url }}" class="d-flex align-items-center text-dark text-decoration-none site-title">
                {% if settings.logo %}
                    <img src="{{ settings.logo | img_url: 'medium' }}" alt="{{ settings.logo.alt }}" style='width: {{ settings.logo_width }}px;'>
                {% elsif section.settings.site_title %}
                    <h1 class="mb-0">{{ section.settings.site_title}}</h1>
                {% else %}
                    <h1 class="mb-0">{{ shop.name }}</h1>
                {% endif %}
            </a>

            <button class="d-lg-none border-0 bg-white p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>


            <ul class="nav  mb-2 justify-content-center mb-md-0 d-none d-lg-flex">
                {%- for link in section.settings.menu.links -%}
                    {%- if link.links !=blank -%}
                        <li class="nav-item dropdown">
                            <a class="nav-link link-secondary dropdown-toggle px-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ link.title }}
                            </a>
                            <ul class="dropdown-menu p-2" style="min-width: 200px" aria-labelledby="navbarDropdown">
                                {%- for childlink in link.links -%}
                                    <li class="mb-2"><a class="p-0" href="{{childlink.url }}">{{ childlink.title }}</a>
                                        <ul class="list-group p-0 mt-1" aria-labelledby="navbarDropdown">
                                            {%- for sublink in childlink.links -%}
                                                <li class="list-group-item radius-0 p-1"><a class="ms-2 p-0" href="{{sublink.url }}">{{ sublink.title }}</a></li>
                                            {%- endfor -%}
                                        </ul>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </li>
                    {%- else -%}
                        <li><a href="{{ link.url }}" class="nav-link px-2 link-secondary">{{ link.title }}</a></li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>

            <div class="d-flex align-items-center justify-content-end d-none d-lg-flex">
                <button class="me-3 border-0 bg-white p-0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </button>
                <a href="{{ routes.cart_url }}" class="me-3" style="line-height: 0;">{% render 'shopping-icon' %}</a>
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <a href="{{ routes.account_url }}" type="button" class="me-3">My Account</a>
                        <a href="{{ routes.account_login_url }}">{{ "Logout" | customer_logout_link }}</a>
                    {%- else -%}
                        {{ "Login" | customer_login_link | replace: '<a', '<a class="me-3"'  }}
                        {% comment %} <a href="/login" type="button" class="me-3">Login</a> {% endcomment %}
                        {{ "Register" | customer_register_link | replace: '<a', '<a'  }}
                    {% endif %}
                 
                {% endif %}
                
            </div>
        </div>
    </div>
</header>


<div class="offcanvas offcanvas-start nav-offcanvas" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <ul class="nav flex-column px-2 pt-3">
        {%- for link in section.settings.menu.links -%}
            {%- if link.links !=blank -%}
                <li class="nav-item dropdown">
                    <a class="nav-link link-secondary dropdown-toggle px-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ link.title }}
                    </a>
                    <ul class="dropdown-menu border-0  px-3 py-0" style="min-width: 200px" aria-labelledby="navbarDropdown">
                        {%- for childlink in link.links -%}
                            <li class="mb-2"><a href="{{childlink.url }}">{{ childlink.title }}</a>
                                <ul class="list-group mt-1" aria-labelledby="navbarDropdown">
                                    {%- for sublink in childlink.links -%}
                                        <li class="list-group-item radius-0 p-1"><a class="ms-2 p-0" href="{{sublink.url }}">{{ sublink.title }}</a></li>
                                    {%- endfor -%}
                                </ul>
                            </li>
                        {%- endfor -%}
                    </ul>
                </li>
            {%- else -%}
                <li><a href="{{ link.url }}" class="nav-link px-2 link-secondary">{{ link.title }}</a></li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header pe-0">
        <button type="button" class="btn-close position-absolute text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="{{ routes.search_url }}" method="get">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group position-relative">
                        <input type="text" name="q" class="form-control" placeholder="Search">
                        <button type="submit" class="icon position-absolute border-0 bg-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{%  schema  %}  
    {
        "name": "Header",
        "settings": [
            {
                "type": "link_list",
                "id": "menu",
                "default": "main-menu",
                "label": "select menu"
            },
            {
                "type": "image_picker",
                "id": "site_logo",
                "label": "Select site logo"
            },
            {
                "type": "text",
                "id": "site_title",
                "label": "Add site title"
            }
        ]
    }
{% endschema %}