<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h1>{{ shop.name }}</h1>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {%- for link in section.settings.menu.links -%}
                {%- if link.links !=blank -%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ link.title }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {%- for childlink in link.links -%}
                                <li><a class="dropdown-item" href="{{childlink.url }}">{{ childlink.title }}</a></li>
                            {%- endfor -%}
                        </ul>
                    </li>
                {%- else -%}
                    <li><a href="{{ link.url }}" class="nav-link px-2 link-secondary">{{ link.title }}</a></li>
                {%- endif -%}
            {%- endfor -%}
        </ul>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary bg-primary color-white">Sign-up</button>
        </div>
    </header>
</div>

{%  schema  %}  
    {
        "name": "Header",
        "settings": [
            {
                "type": "link_list",
                "id": "menu",
                "default": "main-menu",
                "label": "select menu"
            }
        ]
    }
{% endschema %}