<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <article class="my-5" itemscope itemtype="https://schema.org/BlogPosting">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when "article_title" %}
                            <h6 class="text-center"><a href="{{ blog.url }}">{{ blog.title }}</a></h6>
                            <h1 class="text-center" itemprop="headline">{{ article.title }}</h1>
                        {% when "article_author" %}
                            {% if section.settings.article_author %}
                                <div>
                                    <small class="text-center d-block" itemprop="author">{{ article.author }}</small>
                                </div>
                            {% endif %}
                
                        {% when "article_publish_date" %}
                            {% if section.settings.article_date %}
                                <time class="text-center d-block" itemprop="datePublished dateCreated">{{ article.updated_at | date: format: 'on_date' }}</time>
                            {% endif %}
                
                        {% when "article_thumbnail" %}
                            <div itemprop="image">
                                {% if  article.image !=blank %}
                                    <img
                                    class="d-block w-100 mt-4"
                                    src="{{ article.image.src | img_url: 'large' }}"
                                    alt="{{ article.image.alt }}">
                                {% else %}
                                    {% assign placeholder_image = "lifestyle-2" %}
                                    {{ placeholder_image | placeholder_svg_tag: "w-100 h-100 mt-3" }}
                                {% endif %}
                            </div>
                
                        {% when "article_content" %}
                            {% if article.content !=blank %}
                                <p itemprop="articleBody">{{ article.content }}</p>
                            {% endif %}
                            
                        {% else %}
                    {% endcase %}
                {% endfor %}
            </article>
           
            <!-- commment section -->
            {% if blog.comments_enabled? %}
                <div id="comments">
                    {% if article.comments_count > 0 %}
                        <h4 class="mb-3">See what people are saying</h4>
                        {% paginate article.comments by 2 %}
                            {% for comments in article.comments %}
                                <div class="card mb-2">
                                    <div class="card-header">
                                        {{ comments.created_at | date: format: 'default'  }}
                                    </div>
                                    <div class="card-body">
                                        <h4>{{ comments.author }}</h4>
                                        <h6>{{ comments.email }}</h6>
                                        <p class="card-text mb-0">{{ comments.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% render "pagination" pagination: paginate %}
                        {% endpaginate %}
                    {% else %}
                        <h6>There are no comments in this article</h6>
                    {% endif %}
                </div>
                <div id="contact_form" class="my-4 bg-white p-3 rounded-2">
                    {% form "new_comment", article %}
                        {% if form.errors %}
                            <h6 class="d-flex align-items-center gap-2 mb-3">
                                <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"  style="color: red;"/>
                                </svg>
                                <span>Oh no! Your comment was not posted</span>
                            </h6>
                            <ol>
                                {% for error in form.errors %}
                                    <li><span>{{ form.errors.messages[error] }}</span></li>
                                {% endfor %}
                            </ol>
                        {% elsif form.posted_successfully? %}
                            <h6 class="d-flex align-items-center gap-2 mb-3">
                                <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"  style="color: #008000;"/>
                                </svg>
                                <span>Comment is posted successfully</span>
                            </h6>
                        {% endif %}
                        <div class="form-group row mb-3">
                            <div class="col-6">
                                <label for="name" class="form-label">Full name</label>
                                <input type="text" name="comment[author]" class="form-control" id="name" placeholder="John Doe" required>
                            </div>
                            <div class="col-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="comment[email]" class="form-control" id="email" placeholder="name@example.com" required>
                            </div>
                            <!-- The email input field was removed -->
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea class="form-control" name="comment[body]" id="message" rows="5" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endform %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type" : "BlogPosting",
        "headline" : {{ article.title | json }},
        "articleBody" : {{ article.content | strip_html | json }},
        {% if article.excerpt !=blank %}
            "description": {{ article.excerpt | strip_html | json }},
        {% endif %}
        {% if article.image %}
            "image": {{ article.image | img_url: 'medium' | prepend: 'https:' | json }},
        {% endif %}
        "datePublished": {{ article.published_at | date: format: "default" | json }},
        "dateCreated": {{ article.created_at | date: format: "default" | json }},
        "author":{  
            "@type": "Person",
            "name": {{ article.author | json }}
        },
        "publisher": {
            "@type": "Organization",
            "name": {{ shop.name | json }}
        }
    }
</script>

{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "article_author",
        "label": "Chcek author name",
        "default": true
      }, {
        "type": "checkbox",
        "id": "article_date",
        "default": true,
        "label": "Check published time"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_publish_date",
        "name": "Published Date",
        "limit": 1
      },
      {
        "type": "article_thumbnail",
        "name": "Feature Image",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "Article content",
        "limit": 1
      }
    ]
  }
{% endschema %}