<section class="cart-area section">
    <div class="cart shopping">
        <div class="container">
            <div class="row justify-content-center">
                {% if cart.item_count > 0 %}
                    <div class="col-md-11 col-lg-10 col-xl-8">
                        <div class="block">
                            <div class="product-list-cart bg-white p-4  rounded-3 pb-4">
                                <div class="d-flex align-items-center justify-content-between pb-4">
                                    <h4>Your cart</h4>
                                    <a href="{{ routes.all_products_collection_url }}">Continue shopping</a>
                                </div>
                                <form method="post" action=" {{ routes.cart_url }} ">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="border-0 pb-2">Item Name</th>
                                                    <th class="border-0 pb-2">Quantity</th>
                                                    <th class="border-0 pb-2">Item Price</th>
                                                    <th class="border-0 pb-2">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                {% for item in cart.items %}
                                                  <!--<pre>{{ item | json }}</pre>-->
                                                    <tr>
                                                        <td>
                                                            <div class="product-info d-flex gap-3 align-items-center">
                                                               <a href="{{ item.url }}" class="ms-0">
                                                                    {% if item.image %}
                                                                        <img
                                                                        width="80"
                                                                        src="{{ item.image | img_url: '1920x' }}"
                                                                        alt="{{ item.title | escape }}">
                                                                    {% else %}
                                                                        {{ "product-1" | placeholder_svg_tag: "w-100" }}
                                                                    {% endif %}
                                                               </a>
                                                                <h5 class="mb-0">
                                                                    <a href="{{ item.url }}" class="d-block ms-0">
                                                                        <span>{{ item.product.title | truncatewords: 5 }}</span>
                                                                    </a>
                                                              
                                                                    <div class="product-options">
                                                                        {% for item in item.options_with_values %}
                                                                            {% if item.value != "Default Title" %}
                                                                                <span class="d-inline-block fw-normal" style="font-size: 14px;">{{ item.value | append: " /"}}</span>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </h5>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <input type="number" name="updates[]" id="updates_{{ forloop.index }}" class="text-center py-1 py-md-2 btn-default border" style="width: 100px;" value="{{ item.quantity }}" min="1" pattern="[0-9]">
                                                        </td>
                                                        <td> <div class="price">{{ item.price | money }}</div> </td>
                                                        <td>
                                                            <a class="product-remove" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">Remove</a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row justify-content-end cart-total">
                                        <div class="col-3 col-md-2">Total</div>
                                        <div class="col-3 col-md-2">{{ cart.total_price | money }}</div>
                                    </div>
                                   <div class="d-flex flex-column flex-md-row justify-content-between">
                                        <div class="cart-notes mb-3">
                                            <div class="form-group">
                                                <label for="cartNotes"><b>Cart notes</b></label>
                                                <textarea name="note" class="form-control mt-2" id="cartNotes" cols="40" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div>
                                            <!--<a class="btn" href="{{ routes.cart_update_url }}">Update</a>-->
                                            {% for block in section.blocks %}
                                                {% case block.type %}
                                                    {% when 'subtotal' %}
                                                        <h5>Subtotal: <span>{{ cart.items_subtotal_price | money }}</span></h5>
                                                    {% when 'update_button' %}
                                                        <button type="submit" name="update" id="update-btn"class="btn btn-transparent">Update </button>
                                                    {% when 'update_button' %}
                                                        <button name="checkout" class="btn btn-main"> Checkout</button>
                                                    {% else %}
                                                        
                                                {% endcase %}
                                            {% endfor %}
                                        </div>
                                   </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <div class="bg-white p-5 rounded-3 text-center">
                            <h4 class="mb-3">{{ section.settings.cart_empty }}</h4>
                            <a href="{{ routes.all_products_collection_url }}" class="btn">{{ section.settings.button_text }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Template Cart",
        "settings": [
            {
                "type": "text",
                "id": "button_text",
                "label": "Add button title",
                "default": "Continue shopping"
            },
            {
                "type": "text",
                "id": "cart_empty",
                "label": "Add cart empty text",
                "default": "Your cart is empty"
            }
            
        ],
        "blocks": [
            {
                "type": "subtotal",
                "name": "Subtotal",
                "limit": 1
            },
            {
                "type": "update_button",
                "name": "Update Button",
                "limit": 1
            },
            {
                "type": "checkout_button",
                "name": "Checkout Button",
                "limit": 1
            }
        ]
    }
{% endschema %}
